/*************************************************************************
**  Main css file
*************************************************************************/

body {
    background-color: rgba(0, 195, 255, 0.274);
    width: 100%;
    margin: 0;
}

#root {
    width: 100%;
}

.outside-box {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgba(140, 0, 255, 0.397);
}

#gh-bar {
    background-color: black;
    text-align: center;
    font-family: verdana;
    font-size: 18px;
    padding-top: 10px;
    width: 100%;
    height: 36px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 5px rgba(59, 57, 57, 0.719);
    -moz-box-shadow:    0px 3px 5px rgba(59, 57, 57, 0.719);
    box-shadow:         0px 3px 5px rgba(59, 57, 57, 0.719);
}

#gh-link {
    text-decoration: none;
    color: white;
}

.main-box {
    margin: auto;
    width: 70%;
    padding-top: 0px;
}

.markdown-input {
    width: 100%;
    height: 100%;
    padding: 20px 0px 0px 20px;
    margin-top: 20px;
}

.markdown-div {
    height: 800px;
}

#back-button {
    width: 120px;
    height: 35px;
    display: block;
    background-color: #04536d;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    border: none;
    font-family: verdana;
    text-transform: capitalize;
    text-align: center;
    color: gold;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 1px 3.5px 3px 0px rgb(27, 26, 26);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#back-button:hover {
    cursor: pointer;
    color: rgba(154, 182, 196, 0.582);
    opacity: 0.7;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}


/*  Media query below 550px ------------------------------------------------ */

@media only screen and (max-width: 1260px) {
    .main-box {
        width: 90%;
    }
}


/*  Media query below 550px ------------------------------------------------ */

@media only screen and (max-width: 550px) {
    .markdown-input {
        height: 300px;
        margin-top: 30px;
    }

    .markdown-div {
        height: 340px;
        margin-bottom: 20px;
    }

    #preview {
        margin-top: 20px;
    }
}


/* Media query below 290 px ------------------------------------------------ */

@media only screen and (max-width: 290px) {

}
